body {
    min-height: 505px;
    padding: 0;
    margin: 0;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    font-family: "TT Lakes", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.header {
    box-sizing: border-box;
    display: flex;
    min-width: 320px;
    min-height: 88px;
    width: 100%;
    justify-content: center;
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
}

.head-buttons {
    display: flex;
    flex-basis: 100%;
}

button {
    border: none;
}

.head-buttons__left {
    display: flex;
    flex-basis: 40%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.head-buttons__right {
    display: flex;
    flex-basis: 60%;
    justify-content: flex-end;
    align-items: center;
}

.head-buttons__burger {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/burger.png") no-repeat center;
    margin-left: 16px;
    margin-right: 16px;
}

.head-buttons__logo {
    min-width: 100px;
    min-height: 50px;
    background: url("icons/logo.png") no-repeat center;
}

.head-buttons__divider{
    min-height: 32px;
    min-width: 2px;
    background: url("icons/divider.png") no-repeat center;
    margin-right: 16px;

}

.head-buttons__phone {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/phone.png") no-repeat center;
}

.head-buttons__chat {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/chat.png") no-repeat center;
    margin: 0 1.2em;
}

.head-buttons__profile {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/profile.png") no-repeat center;
    margin-right: 16px;
}

.head-buttons__repair {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/repair.png") no-repeat center;
}

.head-buttons__checkstatus {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/checkstatus.png") no-repeat center;
    margin-right: 16px;
    margin-left: 16px;
}

.main {
    display:flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

.top-block {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.desktop-buttons {
    justify-content: flex-end;
    flex-basis: 40%;
}

.desktop-buttons__layout{
    display: flex;
    align-items: center;
}

.desktop-buttons__link {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.desktop-buttons__link a {
    color: black;
}

.desktop-buttons__repair {
    min-height: 40px;
    min-width: 40px;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/repair.png") no-repeat center;
    margin-right: 2em;
    margin-left: 0.7em;
}

.desktop-buttons__check-status {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    border-radius: 1.5em;
    background: #FF3E79 url("icons/checkstatus.png") no-repeat center;
    margin-right: 2em;
    margin-left: 0.7em;
}

.title {
    display: flex;
    align-items: center;

}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 0;
}

a {
    text-decoration: none;
}

.title_title {
    margin: 1.5em 0;

}

.title_image {
    margin-right: 10px;
    min-height: 30px;
    background: url("icons/sideimage.png") no-repeat center;

}

.navigation {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.navigation__box {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    height: auto;
    z-index: -1;
    margin-left: 1em;
}

.navigation__link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    flex-shrink: 0;
    font-size: 1.2em;
    font-weight: 500;
    color: #7E7E82;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0 0.7em;

}

.navigation__link:focus{
    background: #FFFFFF;
    border: 1px solid #B8FFEC;
    border-radius: 6px;
    z-index: 1;
}
/*
.navigation__link:hover:not(.active) {
    color:#ff3e79;
    background-color:#fff;
    border:1px solid #ffe0e9
}

 */

.navigation__fade-box {
    position: absolute;
    height: 40px;
    width: 100%;
}

.navigation__fade {
    position: absolute;
    z-index: 5;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    background: url("icons/fade.png");


}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

}

.content__layout_article {
    display: flex;
    flex-direction: column;
}

.content__article {
    width: 90%;
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-top: 1.5em;
}

.content__read-more {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 1.7em;
    margin-top: 1.5em;
}

.content__link {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-left: 0.9em;
}

.hidden {
    display: none;
}

.mobile_hidden {
    display: none;
}


@media (min-width: 320px) {
    .container {
        width: 320px;
        height: 600px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {

    .container {
        width: 767px;
    }

    .title_title {
        margin: 1.5em 0;
    }

    .hidden {
        display: flex;
    }

    .content {
        flex-wrap: wrap;
    }

    .content__layout_article {
        width:48%;
        height: 40%;
        overflow: hidden;
    }

    .content__article {
        line-height: 20px;
        margin-left: 1em;
        margin-top: 1.5em;
    }

    .main {
        height: 416px;
    }

    .content__main_image {
        display: flex;
        width: 50%;

    }

    .content__picture {
        margin-top: 1.5em;
        margin-left: 0.5em;
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }
}

@media (min-width: 1121px) {
    .container {
        width: 1120px;
        height: 535px;
    }

    .header {
        display: none;
    }

    .mobile_hidden {
        display: flex;
    }

    .desktop_hidden {
        display: none;
    }
    .navigation__box  {
        flex-wrap: wrap;
        overflow: hidden;
    }

    .content__picture {
        margin-top: 2em;
        margin-left: 2em;
        width: 532px;
        height: 307px;
        border-radius: 6px;
    }

    .main {
        height: 535px;
    }
    .title {
        flex-basis: 60%;
    }
    .title_title {
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 1em;
    }
    .title_image {
        margin-top: 1em;
    }

    .navigation__box , .content__article {
        margin-left: 2em;
    }

    .content__main_image {
        margin-right: 1em;
    }

    .content__read-more {
        margin-left: 3em;

    }
    .content__layout_article {
        height: auto;
    }

}